body{
    background:#121212;
    color:white;
    font-family:Arial;
}

.container{
    width:60%;
    margin:auto;
    margin-top:50px;
}

#chat-box{
    height:400px;
    border:1px solid gray;
    padding:10px;
    overflow-y:auto;
}

.input-area{
    margin-top:10px;
}

input{
    width:80%;
    padding:10px;
}

button{
    padding:10px;
}